<h1>Burgies!</h1>

<h2>Burgers that NEED to be eaten!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that have been slain</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Add a Burgie</h2>
<form class="create-form">

    <div class="form-group">
        <label for="">Burgies Name</label>
        <input type="text" id="burgerInput" name="name">
    </div>

    <div class="form-group">
        <input type="radio" name="eaten" value="0"> NEEDS to be eaten!<br>
        <input type="radio" name="eaten" value="1"> Slain!
    </div>

    <button type="submit">Add this Burgie to my collection!</button>
</form>
