<li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}SLAY THIS BURGIE{{else}}GO BACK IN TIME!{{/if}}
    </button>

</li>